<%= title l(:easy_contacts_index) %>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @econtacts.each do |i| %>
      <tr>
        <td><%= i.first_name %></td>
        <td><%= i.last_name %></td>
        <td><%= i.date_created %></td>
        <td><%= link_to 'Show', controller: 'easy_contacts', action: 'show', id: i %></td>
        <td><%= link_to 'Edit', controller: 'easy_contacts', action: 'edit', id: i %></td>
        <td>
          <%= link_to 'Remove', controller: 'easy_contacts',
                                  method: :delete, id: i,
                                  data: {confirm: l(:text_are_you_sure)},
                                  class: 'icon icon-del' %></td>
      </tr>
  <% end %>
</table>
<br>
<%= link_to l(:add_new_easy_contact), controller: 'easy_contacts', action: 'create' %>
