<% if display_main_menu?(@project) %>
    <div id="main-menu">
      <%= render_main_menu(@project) %>
    </div>
<% end %>

<%= title l(:easy_contacts_index) %>

<table>
  <tr>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Date Created</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @econtacts.each do |i| %>
      <tr>
        <td><%= i.first_name %></td>
        <td><%= i.last_name %></td>
        <td><%= i.date_created %></td>
        <td><%= link_to 'Show', controller: 'easy_contacts', action: 'show', id: i %></td>
        <td><%= link_to 'Edit', controller: 'easy_contacts', action: 'edit', id: i %></td>
        <td><%= delete_link("easy_contacts/#{i.id}" ) %></td>
      </tr>
  <% end %>
</table>
<br>
<%= link_to l(:add_new_easy_contact), 'easy_contacts/new',{ class: 'icon icon-add'} %>

