<%= title l(:label_contact_new) %>

<%= labelled_form_for 'easy_contact' do |f| %>
    <div class="box tabular">
      <!--[form:easy_contacts]-->
      <p> <%= f.text_field :first_name, :required => true, :size => 60 %></p>
      <p> <%= f.text_field :last_name, :required => false, :size => 60 %></p>
      <p> <%= f.text_field :date_created, readonly: true, value: 'auto' %></p>
      <%= f.hidden_field :project_id, :value => @project.object_id %>
    </div>

    <% unless @econtact.custom_fields.nil? %>
    <div class="box tabular">
    <fieldset><legend><%= l(:label_custom_fields) %></legend>
          <% @econtact.custom_fields.each do |value| %>
              <p><%= custom_field_tag_with_label :easy_contact, value %></p>
          <% end %>
    </fieldset>
    </div>
    <% end %>

    <fieldset><legend><%= l(:label_attachment_plural) %></legend>
      <p><%= render :partial => 'attachments/form', :locals => {:container => @econtact} %></p>
    </fieldset>

    <%= submit_tag l(:button_create) %>
<% end %>
<p>Attachments should be show here</p>
