<%= title l(:label_contacts) %>

<div>Show one contact item here</div>

<%= labelled_form_for 'easy_contact' do |f| %>

    <div class="box tabular">
      <!--[form:easy_contacts]-->
      <p> <%= f.text_field :first_name,  readonly: true, value: @econtact.first_name %></p>
      <p> <%= f.text_field :last_name,   readonly: true, value: @econtact.last_name %></p>
      <p> <%= f.text_field :date_created,readonly: true, value: @econtact.date_created %></p>
    </div>
<% end %>
<p>Custom Fields </p>
<p>Attachments should be show here</p>
<br>
<%= link_to l(:show_all_easy_contact), controller: 'easy_contacts', action: 'index' %>
