<h2><%= contacts_heading(@econtact) %></h2>

<%= labelled_form_for @econtact do |f| %>

    <div class="box tabular">
      <!--[form:easy_contacts]-->
      <p> <%= f.text_field :first_name,  readonly: true, value: @econtact.first_name %></p>
      <p> <%= f.text_field :last_name,   readonly: true, value: @econtact.last_name %></p>
      <p> <%= f.text_field :date_created,readonly: true, value: @econtact.date_created %></p>
    </div>

    <% unless @econtact.custom_fields.nil? %>
    <fieldset><legend><%= l(:label_custom_fields) %></legend>
          <% @econtact.custom_fields.each do |custom_field| %>
          <p>
            <label><%= h(custom_field.name) %></label>
            <%= format_value(custom_field.value,custom_field) %>
          </p>
          <% end %>
    </fieldset>
    <% end %>

    <% if @econtact.attachments.any? %>
        <fieldset><legend><%= l(:label_attachment_plural) %></legend>
          <%= link_to_attachments @econtact, :thumbnails => true %>
        </fieldset>
    <% end %>

    <div class="contextual" style="float:left;">

      <%= link_to l(:button_edit), {controller: 'easy_contacts', action: 'edit', id: @econtact.id},:class => 'icon icon-edit' %> |
      <%= delete_link econ_id(@econtact) %> |
      <%= link_to l(:show_all_easy_contact), controller: 'easy_contacts', action: 'index' %>
    </div>

<% end %>
